@using SteelTank_TestingEnvironment.Data.Models;
@using SteelTank_TestingEnvironment.Data
@model Registration 
@{
    ViewData["Title"] = "Exam Info";
}

<div class="container mt-5 rounded shadow-lg" style="padding: 0px">
    <h3 class="p-3 text-white bg-primary mb-0 rounded-top">Exam Info</h3>
    <div class="bg-white p-5">
        <div class="form-group mb-3">
            <label>Exam Name</label>
            <input type="text" class="form-control" value="@Model.Exam.Name" readonly />
        </div>

        <div class="form-group mb-3">
            <label>Exam Description</label>
            <textarea class="form-control" rows="4" readonly>@Model.Exam.Description</textarea>
        </div>

        <div class="form-group mb-3">
            <label>Started</label>
            <input type="text" class="form-control" value="@Model.StartDate.ToString()" readonly />
        </div>

        <div class="form-group mb-3">
            <label>Expires</label>
            <input type="text" class="form-control" value="@Model.ExpireDate.ToString()" readonly />
        </div>

        <div class="form-group mb-3">
            <label>Remaining Time</label>
            <div class="row">
                @*<div class="col-md-4 mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" value="@ViewData["days"].ToString()" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text" id="hours-label">Days</span>
                        </div>
                    </div>
                </div>*@
                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" value="@ViewData["hours"].ToString()" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text" id="hours-label">Hours</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" value="@ViewData["minutes"].ToString()" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text" id="hours-label">Minutes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary" asp-controller="Exam" asp-action="Exam" asp-route-registrationId="@Model.Id">Begin Exam</a>
    </div>
</div>